h3 {{heading}}
div(ng-show="fields.length == 0")
  p.help-info-block У письма нет переменных
div.b-form--buttons
  span.b-button.btn.btn-primary(ng-hide="addingNewField", ng-click="newField()") Добавить
  
div.select(ng-show="addingNewField")
  form.b-form.form-horizontal
    .control-group
      label.control-label Выберите тип переменной
    .controls
      select.form-control(ng-model="newFieldType", value="{{newFieldType}}")
        option(value="text") Строка
        option(value="textarea") Текст
        option(value="select") Селектор
        option(value="checkbox") Checkbox
        option(value="radio") Radio
    
    div.b-form--buttons
      span.ok.btn.btn-primary(ng-click="addNewField()") Добавить
      span.cancle.btn.btn-danger(ng-click="collapseAddition()") Отмена

form.b-form--custom-form.b-form(ng-show="fields.length > 0")
  div.b-control--row(ng-repeat="field in fields")
    
    div.b-control--data

      div(ng-if="field.type == 'text'")        
        p.b-control--title Строка
        div.b-control--first_row
          input.form-control.b-input--large(type="text", ng-model="field.title", placeholder="Название")
        div
          input.form-control.b-input.b-input--small(type="text", ng-model="field.name", placeholder="Идентификатор")
          input.form-control.b-input.b-input--small(type="text", ng-model="field.pattern", placeholder="Паттерн переменной")
          input.form-control.b-input.b-input--small(type="text", ng-model="field['default']", placeholder="Значение по-умолчанию")
      
      div(ng-if="field.type == 'textarea'")
        p.b-control--title Текстовое поле
        div.b-control--first_row
          input.form-control.b-input--large(type="text", ng-model="field.title", placeholder="Название")
        div
          input.form-control.b-input.b-input--small(type="text", ng-model="field.name", placeholder="Идентификатор")
          input.form-control.b-input.b-input--small(type="text", ng-model="field['default']", placeholder="Значение по-умолчанию")
          label.b-input--label.b-input--small Безопасный HTML
            input(type="checkbox", ng-model="field.sanitize")
      
      div(ng-if="field.type == 'select'")
        p.b-control--title Селектор
        
        div
          input.form-control.b-input--small(type="text", ng-model="field.title", placeholder="Название")
          input.form-control.b-input--small(type="text", ng-model="field.name", placeholder="Идентификатор")
          
          div.b-form--options 
            p.heading Опции
            div.b-form--option(ng-repeat="(key, option) in field.options") 
              input.form-control.b-input.b-input--small(type="text", ng-model="field.options[key].name", placeholder="Название")
              input.form-control.b-input.b-input--small(type="text", ng-model="field.options[key].value", placeholder="Значение")
              label.b-input.b-input--label Выбрано?
                input(type="radio",
                      for="defRadio[{{field.id}}]", 
                      name="defRadio[{{field.id}}]", 
                      ng-model="field.options[key].isDefault",
                      ng-checked="field.options[key].isDefault == true")
              span.b-form--remove-option.glyphicon.glyphicon-remove(ng-click="removeOption(field, option)")
            p(ng-click="addOption(field)") Добавить опцию
          
      div(ng-if="field.type == 'checkbox'")
        p.b-control--title Список опций
        
        div
          input.form-control.b-input--small(type="text", ng-model="field.title", placeholder="Название")
          input.form-control.b-input--small(type="text", ng-model="field.name", placeholder="Идентификатор")
            
          div.b-form--options 
            p.heading Опции
            div.b-form--option(ng-repeat="(key, option) in field.options") 
              input.form-control.b-input.b-input--small(type="text", ng-model="field.options[key].name", placeholder="Название")
              input.form-control.b-input.b-input--small(type="text", ng-model="field.options[key].value", placeholder="Значение")
              label.b-input.b-input--label Выбрано?
                input(type="checkbox",
                      for="defRadio[{{field.id}}]", 
                      name="defRadio[{{field.id}}]", 
                      ng-model="field.options[key].isDefault",
                      ng-checked="field.options[key].isDefault == true")
              span.b-form--remove-option.glyphicon.glyphicon-remove(ng-click="removeOption(field, option)")
            p(ng-click="addOption(field)") Добавить опцию
              
      div(ng-if="field.type == 'radio'")
        input(type="text", ng-model="field.name", placeholder="Название")
        div.b-form--values
          p.heading Опции
        
          label(ng-repeat="(key, options) in field.options")
            input(type="text", ng-model="field.options[key].name", placeholder="Название")
            input(type="text", ng-model="field.options[key].value", placeholder="Значение")
            label выбрано?
              input(type="radio", name="selected[{{field.id}}]", for="selected[{{field.id}}]", ng-model="field.options[key].checked")
            span(ng-click="removeOption(field, option)") X
            
          p(ng-click="addOption(field)") Добавить опцию
          
    span.b-control--remove.glyphicon.glyphicon-trash(ng-click="removeField(field)")
